In [1]:
import pandas as pd
import random
import numpy as np
from matplotlib import pylab as plt
import scipy.stats
import copy
from scipy.sparse import linalg as LA
#import powerlaw
# %matplotlib inline

path_data = "../data/"
path_fig = "../results/fig/"
# cps file name
file_cps = "cps_00005.csv"
file_cps_categories = "2010-occ-codes-soc-categories_clean.csv"
# link to ACS codes with categories
# https://www.census.gov/topics/employment/industry-occupation/guidance/code-lists.html
# to check variables
# https://cps.ipums.org/cps-action/variables/LABFORCE#codes_section

#TODO add broad category to df?
# df_categories = pd.read_csv(path_data + file_cps_categories)

df = pd.read_csv(path_data + file_cps)
# df.head()
df = df[df['CPSIDP']!= 0]
df = df[df["YEAR"].isin([i for i in range(2010, 2020)])]
df.to_pickle(path_data + "CPS_2010_2019.pkl")

In [2]:
df.head()

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,...,SEX,RACE,HISPAN,EMPSTAT,LABFORCE,OCC,OCC2010,IND,LNKFW1MWT,PANLWT
18306493,2010,1,1,3565.7334,20091200000200,NaN,NaN,NaN,1,3565.7334,...,2,100,0,10,2,350,350,8190,3608.9153,5042.0932
18306494,2010,1,1,3565.7334,20091200000200,NaN,NaN,NaN,2,2802.2961,...,1,100,0,21,2,6050,6050,170,2965.2020,3963.0969
18306495,2010,6,1,3200.7455,20081205968400,NaN,NaN,NaN,1,3200.7455,...,2,100,0,36,1,0,9999,0,3242.3395,4525.9853
18306496,2010,7,1,3453.5073,20081000079600,NaN,NaN,NaN,1,3453.5073,...,2,100,0,21,2,3320,3320,7580,0.0000,4883.4009
18306497,2010,7,1,3453.5073,20081000079600,NaN,NaN,NaN,2,3270.5279,...,1,100,0,21,2,6350,6355,770,0.0000,4625.2852