In [ ]:
import pandas as pd
import random
import numpy as np
from matplotlib import pylab as plt
import scipy.stats
import copy
from scipy.sparse import linalg as LA
#import powerlaw
# %matplotlib inline

path_data = "../data/"
path_fig = "../results/fig/"
# cps file name
file_cps = "cps_00007.csv"
file_cps_categories = "2010-occ-codes-soc-categories_clean.csv"
# link to ACS codes with categories
# https://www.census.gov/topics/employment/industry-occupation/guidance/code-lists.html
# to check variables
# https://cps.ipums.org/cps-action/variables/LABFORCE#codes_section

#TODO add broad category to df?
# df_categories = pd.read_csv(path_data + file_cps_categories)

df = pd.read_csv(path_data + file_cps)
df.head()

## ASEC part

In [ ]:
df_asec = df[df["ASECFLAG"] == 1 ]
df_asec = df[df["LABFORCE"] == 2 ]

In [ ]:
df_asec = df_asec[["YEAR", 'SERIAL', "MONTH", "CPSID", 'ASECFLAG', 'HFLAG', 'CPSIDP', 'ASECWT', \
                  'AGE', 'SEX', 'RACE', 'HISPAN', 'EMPSTAT', 'LABFORCE', 'OCC', 'OCC2010',
       'IND', 'EMPSAME', 'ASECOVERP', 'OCCLY', 'OCC10LY', 'QOCCLY']]
# ALL ASEC
df_asec.to_pickle(path_data + "CPS_asec_df_occmob_summary.pkl")

In [ ]:
df_asec_2019 = df_asec[df_asec["YEAR"] == 2019]
# 2019 ASEC
df_asec_2019.to_pickle(path_data + "CPS_asec_df_occmob_summary_2019.pkl")

## CPS part

### 2019

In [2]:
df_2019 = df[df["YEAR"] == 2019]
df_2019.to_pickle(path_data + "CPS_2019_raw.pkl")
df_2019 = df_2019[(df_2019['OCC2010']!= 9999) & (df_2019["LABFORCE"] == 2) & (df_2019['CPSIDP']!= 0)]
df_2019 = df_2019[df_2019['PANLWT'].notna()]
df_2019.to_pickle(path_data + "CPS_df_occmobpanel_2019_asec.pkl")

### all

In [3]:
## Removed 9999 (not in universe), keep only entries in labor force, remove without CPSID
cps_1 = df[(df['OCC2010']!= 9999) & (df["LABFORCE"] == 2) & (df['CPSIDP']!= 0)]

# TODO check if to remove longitudunal and panel weights NAN's
# Remove entries with NAN in weight
cps_1 = cps_1[cps_1['PANLWT'].notna()]

person_sample_counts = cps_1['CPSIDP'].value_counts()
sampled_twice = list(person_sample_counts[person_sample_counts >1].index)

# only consider people sampled twice
new_df = cps_1[cps_1['CPSIDP'].isin(sampled_twice)] 

new_df = new_df[["YEAR", "MONTH", "WTFINL", "CPSIDP", "EMPSTAT", "OCC", "OCC2010", "IND", "LNKFW1MWT", "PANLWT"]]
new_df.to_pickle(path_data + "CPS_df_occmob_summary.pkl")


## OLD code

In [2]:
df.head()

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,MISH,ASECOVERH,...,EMPSAME,ASECOVERP,LNKFW1MWT,LNKFWMIS45WT,LNKFWMIS14WT,LNKFWMIS58WT,PANLWT,OCCLY,OCC10LY,QOCCLY
0,2000,5,1,265.1126,19981203254500,NaN,NaN,NaN,6,NaN,...,99.0,NaN,282.4033,0.0,0.0,0.0,374.8646,NaN,NaN,NaN
1,2000,5,1,265.1126,19981203254500,NaN,NaN,NaN,6,NaN,...,99.0,NaN,281.7876,0.0,0.0,0.0,373.6794,NaN,NaN,NaN
2,2000,6,1,318.4199,19981003969400,NaN,NaN,NaN,8,NaN,...,99.0,NaN,0.0000,0.0,0.0,0.0,450.0783,NaN,NaN,NaN
3,2000,6,1,318.4199,19981003969400,NaN,NaN,NaN,8,NaN,...,99.0,NaN,0.0000,0.0,0.0,0.0,448.8167,NaN,NaN,NaN
4,2000,7,1,349.7124,19981003169300,NaN,NaN,NaN,8,NaN,...,2.0,NaN,0.0000,0.0,0.0,0.0,602.1343,NaN,NaN,NaN

In [1]:
import pandas as pd
import random
import numpy as np
from matplotlib import pylab as plt
import scipy.stats
import copy
from scipy.sparse import linalg as LA
#import powerlaw
# %matplotlib inline

path_data = "../data/"
path_fig = "../results/fig/"
# cps file name
file_cps = "cps_00007.csv"
file_cps_categories = "2010-occ-codes-soc-categories_clean.csv"
# link to ACS codes with categories
# https://www.census.gov/topics/employment/industry-occupation/guidance/code-lists.html
# to check variables
# https://cps.ipums.org/cps-action/variables/LABFORCE#codes_section

#TODO add broad category to df?
# df_categories = pd.read_csv(path_data + file_cps_categories)

df = pd.read_csv(path_data + file_cps)
df.head()

df_2019 = df[df["YEAR"] == 2019]
df_2019 = df_2019[(df_2019['OCC2010']!= 9999) & (df_2019["LABFORCE"] == 2) & (df_2019['CPSIDP']!= 0)]
df_2019 = df_2019[df_2019['PANLWT'].notna()]

df_2019.to_pickle(path_data + "CPS_df_occmobpanel_2019.pkl")

In [6]:
df_2019["OCCLY"].value_counts()

Series([], Name: OCCLY, dtype: int64)

In [7]:
df_2019["OCCLY"].value_

34206660   NaN
34206662   NaN
34206663   NaN
34206666   NaN
34206668   NaN
Name: OCCLY, dtype: float64

In [1]:
import pandas as pd
import random
import numpy as np
from matplotlib import pylab as plt
import scipy.stats
import copy
from scipy.sparse import linalg as LA
#import powerlaw
# %matplotlib inline

path_data = "../data/"
path_fig = "../results/fig/"
# cps file name
file_cps = "cps_00004.csv"
file_cps_categories = "2010-occ-codes-soc-categories_clean.csv"
# link to ACS codes with categories
# https://www.census.gov/topics/employment/industry-occupation/guidance/code-lists.html
# to check variables
# https://cps.ipums.org/cps-action/variables/LABFORCE#codes_section

#TODO add broad category to df?
# df_categories = pd.read_csv(path_data + file_cps_categories)

df = pd.read_csv(path_data + file_cps)
df.head()

## Removed 9999 (not in universe), keep only entries in labor force, remove without CPSID
cps_1 = df[(df['OCC2010']!= 9999) & (df["LABFORCE"] == 2) & (df['CPSIDP']!= 0)]

# Remove entries with NAN in weight
cps_1 = cps_1[cps_1['WTFINL'].notna()]

person_sample_counts = cps_1['CPSIDP'].value_counts()
sampled_twice = list(person_sample_counts[person_sample_counts >1].index)

# only consider people sampled twice
new_df = cps_1[cps_1['CPSIDP'].isin(sampled_twice)] 

new_df = new_df[["YEAR", "MONTH", "WTFINL", "CPSIDP", "EMPSTAT", "OCC", "OCC2010", "IND"]]
new_df.to_pickle(path_data + "CPS_df_occmob_summary.pkl")

In [2]:
import pandas as pd
import random
import numpy as np
from matplotlib import pylab as plt
import scipy.stats
import copy
from scipy.sparse import linalg as LA
#import powerlaw
# %matplotlib inline

path_data = "../data/"
path_fig = "../results/fig/"
# cps file name
file_cps = "cps_00004.csv"
file_cps_categories = "2010-occ-codes-soc-categories_clean.csv"
# link to ACS codes with categories 

df = pd.read_csv(path_data + file_cps)
df.head()

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,CPSIDP,ASECWT,AGE,RACE,HISPAN,EMPSTAT,LABFORCE,OCC,OCC2010,IND
0,2000,5,1,265.1126,19981203254500,NaN,NaN,NaN,1,274.9256,19981203254501,NaN,68,100,0,36,1,0,9999,0
1,2000,5,1,265.1126,19981203254500,NaN,NaN,NaN,2,275.5436,19981203254502,NaN,65,100,0,36,1,0,9999,0
2,2000,6,1,318.4199,19981003969400,NaN,NaN,NaN,1,327.0936,19981003969401,NaN,55,100,0,36,1,616,6840,50
3,2000,6,1,318.4199,19981003969400,NaN,NaN,NaN,2,330.0997,19981003969402,NaN,54,100,0,34,1,379,5860,661
4,2000,7,1,349.7124,19981003169300,NaN,NaN,NaN,1,453.8826,19981003169301,NaN,38,100,610,10,2,56,1430,50

In [4]:
df_2019 = df[df["YEAR"] == 2019]
df_2018 = df[df["YEAR"] == 2018]
df_2019.to_pickle(path_data + "CPS_df_2019.pkl")
df_2019.to_pickle(path_data + "CPS_df_2018.pkl")

In [2]:
len(df)

38481440

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,CPSIDP,ASECWT,AGE,RACE,HISPAN,EMPSTAT,LABFORCE,OCC,OCC2010,IND
0,2000,5,1,265.1126,19981203254500,NaN,NaN,NaN,1,274.9256,19981203254501,NaN,68,100,0,36,1,0,9999,0
1,2000,5,1,265.1126,19981203254500,NaN,NaN,NaN,2,275.5436,19981203254502,NaN,65,100,0,36,1,0,9999,0
2,2000,6,1,318.4199,19981003969400,NaN,NaN,NaN,1,327.0936,19981003969401,NaN,55,100,0,36,1,616,6840,50
3,2000,6,1,318.4199,19981003969400,NaN,NaN,NaN,2,330.0997,19981003969402,NaN,54,100,0,34,1,379,5860,661
4,2000,7,1,349.7124,19981003169300,NaN,NaN,NaN,1,453.8826,19981003169301,NaN,38,100,610,10,2,56,1430,50

In [35]:
person_sample_counts.head(50);

In [ ]:
new_df.

In [52]:
sorted_df[1000000:1000050]

,YEAR,SERIAL,MONTH,WTFINL,CPSIDP,EMPSTAT,LABFORCE,OCC,OCC2010,IND
1158186,2000,23088,9,1861.2622,20000902308801,10,2,275,4740,591
1320787,2000,42126,10,1843.0824,20000902308801,10,2,275,4740,591
1463019,2000,51390,11,1735.5018,20000902308801,10,2,275,4740,591
3277110,2001,65643,11,2100.6577,20000902308803,10,2,14,230,851
2930426,2001,37383,9,1994.7088,20000902308803,10,2,449,4230,762
1530759,2000,26505,12,2043.4958,20000902308901,10,2,486,4250,712
1441012,2000,40915,11,2100.0233,20000902308901,10,2,486,4250,712
1274166,2000,19744,10,2056.1579,20000902308901,10,2,486,4250,712
1158188,2000,23089,9,2040.7550,20000902308901,10,2,486,4250,712
1283834,2000,24746,10,2054.0862,20000902309001,10,2,348,5020,441
1463021,2000,51391,11,2148.8300,20000902309001,10,2,348,5020,441
1158190,2000,23090,9,2244.3742,20000902309001,12,2,348,5020,441
1532261,2000,27184,12,2065.2488,20000902309001,10,2,348,5020,441
3320559,2001,18379,12,2191.9350,20000902309001,12,2,348,5020,441
3015650,2001,8281,10,2181.5556,20000902309001,10,2,348,5020,441
3189172,2001,25305,11,2166.4234,20000902309001,12,2,348,5020,441
2930427,2001,37384,9,2013.8582,20000902309001,12,2,348,5020,441
3320563,2001,18379,12,2003.3609,20000902309005,10,2,348,5020,441
3189176,2001,25305,11,2009.5941,20000902309005,10,2,348,5020,441
3320564,2001,18380,12,2065.2104,20000902309101,10,2,466,4600,863
1158193,2000,23091,9,2244.3742,20000902309101,10,2,466,4600,863
1531215,2000,26712,12,2093.5944,20000902309101,10,2,466,4600,863
2930442,2001,37388,9,2011.2968,20000902309101,10,2,466,4600,863
3033270,2001,16981,10,2066.8361,20000902309101,10,2,466,4600,863
3256590,2001,56761,11,2108.7858,20000902309101,10,2,466,4600,863
1441020,2000,40918,11,2148.8300,20000902309101,10,2,466,4600,863
1283837,2000,24747,10,2054.0862,20000902309101,10,2,466,4600,863
1531216,2000,26712,12,1924.9594,20000902309102,10,2,64,1000,591
3033271,2001,16981,10,2065.5773,20000902309102,12,2,64,1000,591
2930443,2001,37388,9,1980.8215,20000902309102,10,2,64,1000,591
1283838,2000,24747,10,2059.4356,20000902309102,10,2,64,1000,591
1158194,2000,23091,9,2130.3599,20000902309102,10,2,64,1000,591
1441021,2000,40918,11,2052.3620,20000902309102,10,2,64,1000,591
3256591,2001,56761,11,2009.5941,20000902309102,10,2,64,1000,591
3320565,2001,18380,12,2003.3609,20000902309102,10,2,64,1000,591
1453458,2000,46994,11,2137.7296,20000902309201,10,2,453,4220,722
1532304,2000,27202,12,2095.7493,20000902309201,10,2,453,4220,722
1344650,2000,53142,10,2065.1245,20000902309201,10,2,453,4220,722
3099691,2001,49317,10,2861.8004,20000902309202,10,2,579,6420,351
1453459,2000,46994,11,2717.5132,20000902309202,12,2,596,6520,521
3192611,2001,26844,11,2852.3414,20000902309202,10,2,579,6420,351
2909090,2001,27069,9,2639.7706,20000902309202,10,2,579,6420,351
1158197,2000,23092,9,2546.5551,20000902309202,10,2,596,6520,521
1344651,2000,53142,10,2562.0383,20000902309202,10,2,596,6520,521
1532305,2000,27202,12,2709.3031,20000902309202,10,2,596,6520,521
3308617,2001,11633,12,2971.3569,20000902309202,10,2,579,6420,351
1390916,2000,17235,11,3225.5205,20000902309301,10,2,436,4000,641
1274174,2000,19748,10,2623.0143,20000902309301,10,2,436,4000,641
3114685,2001,56319,10,2444.0860,20000902309301,10,2,436,4000,641
3247596,2001,53245,11,2647.6830,20000902309301,10,2,436,4000,641

In [40]:
sorted_df = new_df.sort_values(by=['CPSIDP'])

In [ ]:
# new_df  = new_df [new_df ['CPSIDP']!= 0]

In [12]:
new_df[new_df["CPSIDP"] == 20040201136702]

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,CPSIDP,ASECWT,AGE,RACE,HISPAN,EMPSTAT,LABFORCE,OCC,OCC2010,IND
7423419,2004,11367,2,442.6266,20040201136700,NaN,NaN,NaN,2,445.3920,20040201136702,NaN,42,100,0,10,2,2630,2630,4770
7563041,2004,11350,3,431.7608,20040201136700,2.0,NaN,NaN,2,404.0452,20040201136702,NaN,42,100,0,10,2,2630,2630,4770
7777394,2004,45548,3,NaN,20040201136700,1.0,NaN,445.67,2,NaN,20040201136702,445.67,42,100,0,10,2,2630,2630,4770
7914809,2004,11279,4,414.4271,20040201136700,NaN,NaN,NaN,2,415.7019,20040201136702,NaN,42,100,0,10,2,2630,2630,4770
8046094,2004,8694,5,416.6805,20040201136700,NaN,NaN,NaN,2,409.4722,20040201136702,NaN,43,100,0,10,2,9130,9130,4770
9366913,2005,47268,2,402.9068,20040201136700,NaN,NaN,NaN,2,412.8411,20040201136702,NaN,43,100,0,10,2,2600,2600,7470
9436658,2005,11681,3,403.7721,20040201136700,2.0,NaN,NaN,2,409.0657,20040201136702,NaN,43,100,0,10,2,2600,2600,7470
9643093,2005,43580,3,NaN,20040201136700,1.0,NaN,401.10,2,NaN,20040201136702,401.10,43,100,0,10,2,2600,2600,7470
9784615,2005,11808,4,394.5089,20040201136700,NaN,NaN,NaN,2,375.6835,20040201136702,NaN,43,100,0,10,2,2600,2600,7470
9922677,2005,11910,5,411.7976,20040201136700,NaN,NaN,NaN,2,386.1216,20040201136702,NaN,44,100,0,10,2,2600,2600,7470

In [24]:
new_df[new_df["CPSIDP"] == 20030303472604]

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,CPSIDP,ASECWT,AGE,RACE,HISPAN,EMPSTAT,LABFORCE,OCC,OCC2010,IND
5704988,2003,34726,3,2088.7845,20030303472600,2.0,NaN,NaN,4,1627.3162,20030303472604,NaN,3,100,0,0,0,0,9999,0
5852530,2003,33878,3,NaN,20030303472600,1.0,NaN,1238.45,5,NaN,20030303472604,985.75,3,100,0,0,0,0,9999,0
6063089,2003,34546,4,1952.1447,20030303472600,NaN,NaN,NaN,4,1624.0014,20030303472604,NaN,3,100,0,0,0,0,9999,0
6205541,2003,34482,5,1929.9411,20030303472600,NaN,NaN,NaN,4,1543.1472,20030303472604,NaN,3,100,0,0,0,0,9999,0
6372850,2003,49574,6,2071.7657,20030303472600,NaN,NaN,NaN,5,1632.3714,20030303472604,NaN,3,100,0,0,0,0,9999,0
7606281,2004,34624,3,2443.7211,20030303472600,2.0,NaN,NaN,4,1666.9007,20030303472604,NaN,4,100,0,0,0,0,9999,0
7751246,2004,33671,3,NaN,20030303472600,1.0,NaN,1269.79,5,NaN,20030303472604,1013.95,4,100,0,0,0,0,9999,0
7958055,2004,34345,4,2328.0610,20030303472600,NaN,NaN,NaN,4,1743.4324,20030303472604,NaN,4,100,0,0,0,0,9999,0
8092603,2004,32544,5,2311.3378,20030303472600,NaN,NaN,NaN,5,1650.0600,20030303472604,NaN,4,100,0,0,0,0,9999,0
8213919,2004,23237,6,2252.3941,20030303472600,NaN,NaN,NaN,5,1620.9024,20030303472604,NaN,4,100,0,0,0,0,9999,0

In [13]:
sorted_df.tail(50)

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,CPSIDP,ASECWT,AGE,RACE,HISPAN,EMPSTAT,LABFORCE,OCC,OCC2010,IND
38375718,2021,67567,9,341.5760,20210906756700,NaN,NaN,NaN,2,370.7199,20210906756702,NaN,33,100,0,10,2,8740,8740,7290
38481210,2021,67851,10,405.5068,20210906756700,NaN,NaN,NaN,2,380.2714,20210906756702,NaN,33,100,0,10,2,8740,8740,7290
38375761,2021,67591,9,261.8339,20210906759100,NaN,NaN,NaN,1,268.7737,20210906759101,NaN,73,100,0,36,1,0,9999,0
38481243,2021,67874,10,256.6293,20210906759100,NaN,NaN,NaN,1,270.4840,20210906759101,NaN,73,100,0,36,1,0,9999,0
38481244,2021,67874,10,256.6293,20210906759100,NaN,NaN,NaN,2,256.6293,20210906759102,NaN,71,100,0,36,1,0,9999,0
38375762,2021,67591,9,261.8339,20210906759100,NaN,NaN,NaN,2,261.8339,20210906759102,NaN,71,100,0,36,1,0,9999,0
38375763,2021,67591,9,261.8339,20210906759100,NaN,NaN,NaN,3,370.4776,20210906759103,NaN,17,100,0,34,1,0,9999,0
38481245,2021,67874,10,256.6293,20210906759100,NaN,NaN,NaN,3,388.7941,20210906759103,NaN,18,100,0,34,1,0,9999,0
38375764,2021,67594,9,319.4222,20210906759400,NaN,NaN,NaN,1,319.4222,20210906759401,NaN,40,100,0,10,2,4920,4920,7072
38481254,2021,67879,10,323.1112,20210906759400,NaN,NaN,NaN,1,323.1112,20210906759401,NaN,40,100,0,10,2,4920,4920,7072
38375765,2021,67594,9,319.4222,20210906759400,NaN,NaN,NaN,2,301.9606,20210906759402,NaN,42,100,0,10,2,4920,4920,7071
38481255,2021,67879,10,323.1112,20210906759400,NaN,NaN,NaN,2,306.5392,20210906759402,NaN,42,100,0,10,2,4920,4920,7071
38375766,2021,67594,9,319.4222,20210906759400,NaN,NaN,NaN,3,311.4292,20210906759403,NaN,2,100,0,0,0,0,9999,0
38481256,2021,67879,10,323.1112,20210906759400,NaN,NaN,NaN,3,340.5398,20210906759403,NaN,2,100,0,0,0,0,9999,0
38481261,2021,67883,10,266.0462,20210906759700,NaN,NaN,NaN,1,257.1146,20210906759701,NaN,85,100,0,12,2,4850,4850,2190
38375769,2021,67597,9,275.8979,20210906759700,NaN,NaN,NaN,1,251.1756,20210906759701,NaN,85,100,0,10,2,4850,4850,2190
38481262,2021,67883,10,266.0462,20210906759700,NaN,NaN,NaN,2,266.0462,20210906759702,NaN,80,100,0,12,2,4950,4950,5690
38375770,2021,67597,9,275.8979,20210906759700,NaN,NaN,NaN,2,275.8979,20210906759702,NaN,80,100,0,10,2,4950,4950,5690
38481264,2021,67888,10,330.8884,20210906760100,NaN,NaN,NaN,1,330.8884,20210906760101,NaN,57,100,0,10,2,5120,5120,9380
38375774,2021,67601,9,336.7383,20210906760100,NaN,NaN,NaN,1,336.7383,20210906760101,NaN,57,100,0,10,2,5120,5120,9380
38375775,2021,67601,9,336.7383,20210906760100,NaN,NaN,NaN,2,314.3005,20210906760102,NaN,50,100,0,10,2,1050,1050,7380
38481265,2021,67888,10,330.8884,20210906760100,NaN,NaN,NaN,2,327.4532,20210906760102,NaN,50,100,0,10,2,1050,1050,7380
38481267,2021,67892,10,299.8005,20210906760400,NaN,NaN,NaN,1,294.6395,20210906760401,NaN,74,100,0,36,1,0,9999,0
38375779,2021,67604,9,313.7584,20210906760400,NaN,NaN,NaN,1,287.2810,20210906760401,NaN,74,100,0,36,1,0,9999,0
38481268,2021,67892,10,299.8005,20210906760400,NaN,NaN,NaN,2,299.8005,20210906760402,NaN,66,100,0,36,1,0,9999,0
38375780,2021,67604,9,313.7584,20210906760400,NaN,NaN,NaN,2,313.7584,20210906760402,NaN,66,100,0,36,1,0,9999,0
38375781,2021,67604,9,313.7584,20210906760400,NaN,NaN,NaN,3,370.7199,20210906760403,NaN,34,100,0,10,2,4220,4220,7860
38481269,2021,67892,10,299.8005,20210906760400,NaN,NaN,NaN,3,380.2714,20210906760403,NaN,34,100,0,10,2,4220,4220,7860
38375795,2021,67615,9,328.8362,20210906761500,NaN,NaN,NaN,1,328.8362,20210906761501,NaN,27,100,0,10,2,2310,2310,7860
38481275,2021,67900,10,349.0656,20210906761500,NaN,NaN,NaN,1,349.0656,20210906761501,NaN,27,100,0,10,2,2310,2310,7860
38375848,2021,67654,9,279.8633,20210906765400,NaN,NaN,NaN,1,268.4711,20210906765401,NaN,79,100,0,10,2,4220,4220,8470
38481319,2021,67937,10,279.5475,20210906765400,NaN,NaN,NaN,1,280.0761,20210906765401,NaN,79,100,0,36,1,0,9999,0
38481320,2021,67937,10,279.5475,20210906765400,NaN,NaN,NaN,2,279.5475,20210906765402,NaN,74,100,0,10,2,4600,4600,8470
38375849,2021,67654,9,279.8633,20210906765400,NaN,NaN,NaN,2,279.8633,20210906765402,NaN,74,100,0,10,2,4600,4600,8470
38375889,2021,67680,9,297.2710,20210906768000,NaN,NaN,NaN,1,297.2710,20210906768001,NaN,52,100,0,10,2,7340,7340,4870
38481373,2021,67968,10,302.9438,20210906768000,NaN,NaN,NaN,1,302.9438,20210906768001,NaN,52,100,0,10,2,7340,7340,4870
38481374,2021,67968,10,302.9438,20210906768000,NaN,NaN,NaN,2,356.6963,20210906768002,NaN,53,100,0,10,2,9600,9600,4870
38375890,2021,67680,9,297.2710,20210906768000,NaN,NaN,NaN,2,335.9427,20210906768002,NaN,53,100,0,10,2,9600,9600,4870
38481386,2021,67973,10,350.9538,20210906768600,NaN,NaN,NaN,1,350.9538,20210906768601,NaN,41,100,0,10,2,2100,2100,9470
38375898,2021,67686,9,340.4348,20210906768600,NaN,NaN,NaN,1,340.4348,20210906768601,NaN,41,100,0,10,2,2100,2100,9470
38481392,2021,67983,10,279.5475,20210906769800,NaN,NaN,NaN,1,312.2919,20210906769801,NaN,67,100,0,36,1,0,9999,0
38375911,2021,67698,9,279.8633,20210906769800,NaN,NaN,NaN,1,296.8960,20210906769801,NaN,67,100,0,36,1,0,9999,0
38481393,2021,67983,10,279.5475,20210906769800,NaN,NaN,NaN,2,279.5475,20210906769802,NaN,71,100,0,36,1,0,9999,0
38375912,2021,67698,9,279.8633,20210906769800,NaN,NaN,NaN,2,279.8633,20210906769802,NaN,71,100,0,36,1,0,9999,0
38481415,2021,67997,10,275.2218,20210906770900,NaN,NaN,NaN,1,355.9695,20210906770901,NaN,65,802,0,36,1,0,9999,0
38375928,2021,67709,9,293.5453,20210906770900,NaN,NaN,NaN,1,425.8830,20210906770901,NaN,65,802,0,36,1,0,9999,0
38481416,2021,67997,10,275.2218,20210906770900,NaN,NaN,NaN,2,275.2218,20210906770902,NaN,65,100,0,10,2,4720,4720,5391
38375929,2021,67709,9,293.5453,20210906770900,NaN,NaN,NaN,2,293.5453,20210906770902,NaN,65,100,0,10,2,4720,4720,5391
38375936,2021,67715,9,393.6770,20210906771500,NaN,NaN,NaN,1,393.6770,20210906771501,NaN,37,200,0,10,2,4220,4220,7860
38481429,2021,68004,10,579.4686,20210906771500,NaN,NaN,NaN,1,579.4686,20210906771501,NaN,37,200,0,10,2,4220,4220,7860

In [18]:
new_df[new_df['CPSIDP']==19981204103001]

,YEAR,SERIAL,MONTH,HWTFINL,CPSID,ASECFLAG,HFLAG,ASECWTH,PERNUM,WTFINL,CPSIDP,ASECWT,AGE,RACE,HISPAN,EMPSTAT,LABFORCE,OCC,OCC2010,IND
15,2000,12,1,228.7286,19981204103000,NaN,NaN,NaN,1,233.3782,19981204103001,NaN,31,100,0,12,2,869,6260,60
124188,2000,7,2,243.0150,19981204103000,NaN,NaN,NaN,1,247.7209,19981204103001,NaN,31,100,0,21,2,869,6260,60
366496,2000,59875,3,243.5205,19981204103000,2.0,NaN,NaN,1,248.7006,19981204103001,NaN,31,100,0,34,1,869,6260,60
470246,2000,51204,3,NaN,19981204103000,1.0,NaN,240.52,1,NaN,19981204103001,240.52,31,100,0,34,1,869,6260,60

In [26]:
ipums_occ_set = set(occ10_list) # create a set of the ipums occupations
transitions = np.zeros((len(occ10_list ),len(occ10_list )))# where we will store the raw number of transitions
#progress check
for ii,i in enumerate(sampled_twice):
    if ii == round(len(sampled_twice)*0.5):
        print ('50% done')
    if ii == round(len(sampled_twice)*0.75):
        print ('70% done')    
    if ii == round(len(sampled_twice)*0.95):
        print ('95% done')
        
    p_data = new_df[new_df['CPSIDP']==i] # person specific data
    career_path = list(p_data['OCC']) # the occupations that person was in over the sampled periods (ordered chronologically)
    pweight = list(p_data['WTFINL'])
    
        # if that person had a job change in their career path:
    if career_path.count(career_path[0]) != len(career_path):
        # figure out the transitions
        for i, occ in enumerate(career_path):
            if i < len(career_path)-1 and career_path[i] !=career_path[i+1]:
                old_occ = career_path[i]
                new_occ = career_path[i+1]
                if {old_occ,new_occ} <= ipums_occ_set: # if the CPS occupations are in our ipums occupation set (not all of them are... )
                    # put person (weighted by person weight) transitions in transition matrix         
                     transitions[occ10_list.index(old_occ),occ10_list.index(new_occ)] += pweight[i+1]

KeyboardInterrupt:

In [ ]:
transitions

In [ ]:
count = 0
for index, row in df.iterrows():
    print(row['c1'], row['c2'])
    
    count +=1
    if count > 100:
        break

In [20]:
occ10_list = list(new_df["OCC2010"].value_counts().index)

In [22]:
len(occ10_list )

454

In [23]:
ipums_occ_set = set(occ10_list) # create a set of the ipums occupations
transitions = np.zeros((len(occ10_list ),len(occ10_list ))) # where we will store the raw number of transitions
#progress check
for ii,i in enumerate(people):
    if ii == round(len(people)*0.5):
        print ('50% done')
    if ii == round(len(people)*0.75):
        print ('70% done')    
    if ii == round(len(people)*0.95):
        print ('95% done')
        
    p_data = new_df[new_df['CPSIDP']==i] # person specific data
    career_path = list(p_data['OCC']) # the occupations that person was in over the sampled periods (ordered chronologically)
    pweight = list(p_data['WTFINL'])
    
        # if that person had a job change in their career path:
    if career_path.count(career_path[0]) != len(career_path):
        # figure out the transitions
        for i, occ in enumerate(career_path):
            if i < len(career_path)-1 and career_path[i] !=career_path[i+1]:
                old_occ = career_path[i]
                new_occ = career_path[i+1]
                if {old_occ,new_occ} <= ipums_occ_set: # if the CPS occupations are in our ipums occupation set (not all of them are... )
                    # put person (weighted by person weight) transitions in transition matrix         
                     transitions[ipums_ordered_occ_codes.index(old_occ),ipums_ordered_occ_codes.index(new_occ)] += pweight[i+1]

NameError: name 'people' is not defined

In [13]:
occ_list = list(new_df["OCC"].value_counts().index)

In [12]:
len(occ10_list)

454

In [16]:
occ_categories = list(df_categories["2010 Census Code"])

In [17]:
set(occ_categories).difference(set(occ10_list))

{40,
 50,
 60,
 135,
 136,
 137,
 325,
 340,
 400,
 425,
 565,
 630,
 640,
 650,
 725,
 726,
 735,
 740,
 1005,
 1006,
 1007,
 1030,
 1105,
 1106,
 1107,
 1210,
 1330,
 1340,
 1500,
 1510,
 1660,
 1815,
 1860,
 1940,
 1950,
 1965,
 2015,
 2016,
 2025,
 2105,
 2110,
 2145,
 2160,
 2710,
 2830,
 2960,
 3235,
 3245,
 3255,
 3256,
 3257,
 3258,
 3420,
 3535,
 3645,
 3646,
 3647,
 3648,
 3649,
 3655,
 3830,
 3840,
 3850,
 3860,
 3945,
 3955,
 4020,
 4160,
 4410,
 4465,
 4710,
 5210,
 5830,
 6020,
 6110,
 6310,
 6540,
 6750,
 6910,
 6920,
 6930,
 7050,
 7440,
 7520,
 7600,
 8020,
 8120,
 8160,
 8255,
 8256,
 8360,
 8430,
 8440,
 8520,
 8840,
 8900,
 9110,
 9120,
 9330,
 9340,
 9415,
 9500,
 9730,
 9740,
 9800,
 9810,
 9820,
 9920}

In [19]:
set(occ10_list).difference(set(occ_categories))

{130,
 320,
 560,
 620,
 720,
 730,
 1000,
 1100,
 1960,
 2020,
 2140,
 2150,
 3130,
 3240,
 3410,
 3530,
 3650,
 3950,
 7125,
 8230,
 9100,
 9830,
 9999}

In [18]:
set(occ_categories).difference(set(occ_list))

{30, 400, 2110, 9800, 9810, 9820, 9920}

In [20]:
set(occ_list).difference(set(occ_categories))

{0,
 4,
 5,
 6,
 7,
 8,
 9,
 13,
 14,
 15,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 33,
 34,
 35,
 36,
 37,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 95,
 96,
 97,
 98,
 99,
 101,
 102,
 103,
 104,
 105,
 106,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 133,
 134,
 138,
 139,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 173,
 174,
 175,
 176,
 177,
 178,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 193,
 194,
 195,
 197,
 198,
 199,
 200,
 203,
 204,
 206,
 207,
 208,
 210,
 213,
 214,
 215,
 216,
 217,
 218,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 233,
 234,
 235,
 243,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 274,
 275,
 276,
 277,
 278,
 283,
 284,
 285,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 323,
 326,
 327,
 328,
 329,
 335,
 336,
 337,
 338,
 339,
 343,
 344,
 345,
 346,
 347,
 348,
 353,
 354,
 355,
 356,
 357,
 359,
 363,
 364,
 365,
 366,
 368,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 383,
 384,
 385,
 386,
 387,
 389,
 403,
 404,
 405,
 406,
 407,
 413,
 414,
 415,
 416,
 417,
 418,
 423,
 424,
 426,
 427,
 433,
 434,
 435,
 436,
 438,
 439,
 440,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 473,
 474,
 475,
 476,
 477,
 479,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 494,
 495,
 496,
 497,
 498,
 499,
 503,
 505,
 506,
 507,
 508,
 509,
 514,
 515,
 516,
 517,
 518,
 519,
 523,
 525,
 526,
 527,
 529,
 533,
 534,
 535,
 536,
 538,
 539,
 543,
 544,
 547,
 549,
 553,
 554,
 555,
 556,
 557,
 558,
 560,
 563,
 564,
 566,
 567,
 569,
 573,
 575,
 576,
 577,
 579,
 583,
 584,
 585,
 587,
 588,
 589,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 613,
 614,
 615,
 616,
 617,
 620,
 628,
 634,
 635,
 636,
 637,
 639,
 643,
 644,
 645,
 646,
 647,
 649,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 666,
 667,
 668,
 669,
 674,
 675,
 676,
 677,
 678,
 679,
 683,
 684,
 686,
 687,
 688,
 689,
 693,
 694,
 695,
 696,
 699,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 713,
 714,
 715,
 717,
 719,
 720,
 723,
 724,
 727,
 728,
 729,
 730,
 733,
 734,
 736,
 737,
 738,
 739,
 743,
 744,
 745,
 747,
 748,
 749,
 750,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 763,
 764,
 765,
 766,
 768,
 769,
 773,
 774,
 777,
 779,
 783,
 784,
 785,
 786,
 787,
 789,
 793,
 795,
 796,
 797,
 798,
 799,
 803,
 804,
 806,
 808,
 809,
 813,
 814,
 823,
 824,
 825,
 826,
 828,
 829,
 833,
 834,
 843,
 844,
 845,
 848,
 849,
 853,
 855,
 856,
 859,
 864,
 865,
 866,
 867,
 868,
 869,
 874,
 875,
 876,
 877,
 878,
 883,
 885,
 887,
 888,
 889,
 905,
 960,
 1000,
 1021,
 1022,
 1031,
 1032,
 1040,
 1065,
 1100,
 1108,
 1110,
 1305,
 1306,
 1541,
 1545,
 1551,
 1555,
 1745,
 1750,
 1810,
 1821,
 1822,
 1825,
 1935,
 1960,
 1970,
 1980,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2011,
 2012,
 2013,
 2014,
 2020,
 2140,
 2150,
 2170,
 2180,
 2205,
 2350,
 2360,
 2435,
 2545,
 2555,
 2631,
 2632,
 2633,
 2634,
 2635,
 2636,
 2640,
 2721,
 2722,
 2723,
 2751,
 2752,
 2755,
 2770,
 2805,
 2820,
 2861,
 2862,
 2865,
 2905,
 3090,
 3100,
 3130,
 3240,
 3261,
 3270,
 3321,
 3322,
 3323,
 3324,
 3330,
 3401,
 3402,
 3410,
 3421,
 3422,
 3423,
 3424,
 3430,
 3515,
 3530,
 3545,
 3550,
 3601,
 3602,
 3603,
 3605,
 3650,
 3725,
 3801,
 3802,
 3870,
 3920,
 3946,
 3950,
 3960,
 4055,
 4251,
 4252,
 4255,
 4330,
 4435,
 4461,
 4521,
 4522,
 4525,
 4550,
 4621,
 4622,
 4655,
 4960,
 5040,
 5521,
 5522,
 5710,
 5720,
 5730,
 5740,
 5930,
 6000,
 6115,
 6305,
 6350,
 6410,
 6441,
 6442,
 6510,
 6760,
 6825,
 6835,
 6850,
 6950,
 7310,
 7620,
 7640,
 7905,
 7925,
 8025,
 8225,
 8230,
 8240,
 8260,
 8335,
 8365,
 8465,
 8555,
 8960,
 8990,
 9005,
 9121,
 9122,
 9141,
 9142,
 9210,
 9265,
 9365,
 9430,
 9570,
 9645,
 9760,
 9840}

In [ ]:
set(occ_categories).difference(set(occ_list))

In [14]:
len(occ_list)

1205

In [ ]:
occ10_list = list(new_df["OCC2010"].value_counts().index)

In [38]:
df["MONTH"].loc[df["YEAR"] == 2002].value_counts()

3     356879
10    143857
11    143633
9     143569
12    143251
7     142982
8     142935
6     142326
5     141984
1     141834
4     141637
2     140775
Name: MONTH, dtype: int64

In [6]:
df.columns

Index(['YEAR', 'SERIAL', 'MONTH', 'HWTFINL', 'CPSID', 'ASECFLAG', 'HFLAG',
       'ASECWTH', 'PERNUM', 'WTFINL', 'CPSIDP', 'ASECWT', 'AGE', 'SEX', 'RACE',
       'HISPAN', 'EMPSTAT', 'LABFORCE', 'OCC2010', 'IND', 'OCC10LY'],
      dtype='object')

In [ ]:
## remove unemployed and NA
cps_1 = raw[(raw['OCC']!= 9920) & (raw['OCC']!= 0)]
cps_1 = cps_1.loc[(raw['EMPSAME']==1) | (raw['EMPSAME']==2)]

In [ ]:
new_df.head()

In [ ]:
new_df["OCC2010"].value_counts()

In [32]:
len(occ_categories)

539

In [29]:
40 in occ10_list

False

In [15]:
len(occ10_list)

454

In [35]:
9100 in occ_categories

False

In [33]:
set(occ10_list).difference(set(occ_categories))

{130,
 320,
 560,
 620,
 720,
 730,
 1000,
 1100,
 1960,
 2020,
 2140,
 2150,
 3130,
 3240,
 3410,
 3530,
 3650,
 3950,
 7125,
 8230,
 9100,
 9830,
 9999}

In [23]:
set(occ_categories).difference(set(occ10_list))

{40,
 50,
 60,
 135,
 136,
 137,
 325,
 340,
 400,
 425,
 565,
 630,
 640,
 650,
 725,
 726,
 735,
 740,
 1005,
 1006,
 1007,
 1030,
 1105,
 1106,
 1107,
 1210,
 1330,
 1340,
 1500,
 1510,
 1660,
 1815,
 1860,
 1940,
 1950,
 1965,
 2015,
 2016,
 2025,
 2105,
 2110,
 2145,
 2160,
 2710,
 2830,
 2960,
 3235,
 3245,
 3255,
 3256,
 3257,
 3258,
 3420,
 3535,
 3645,
 3646,
 3647,
 3648,
 3649,
 3655,
 3830,
 3840,
 3850,
 3860,
 3945,
 3955,
 4020,
 4160,
 4410,
 4465,
 4710,
 5210,
 5830,
 6020,
 6110,
 6310,
 6540,
 6750,
 6910,
 6920,
 6930,
 7050,
 7440,
 7520,
 7600,
 8020,
 8120,
 8160,
 8255,
 8256,
 8360,
 8430,
 8440,
 8520,
 8840,
 8900,
 9110,
 9120,
 9330,
 9340,
 9415,
 9500,
 9730,
 9740,
 9800,
 9810,
 9820,
 9920}

In [12]:
130 in list(new_df["OCC2010"].value_counts().index)

True

In [11]:
135 in list(new_df["OCC2010"].value_counts().index)

False

In [ ]:
person_sample_counts = cps_1['CPSIDP'].value_counts()
people = [] # people who are sampled at least twice
for i,k in person_sample_counts.iteritems():
    if k > 1:
        people.append(i)

new_df = cps_1[cps_1['CPSIDP'].isin(people)]  
#read in ordered ipums occs
ipums_occs = pd.read_csv('../data/ipums_ordered_occ_titles_for_bipartite.csv')
ipums_ordered_occ_codes = list(ipums_occs['ipums_code'])
occ_code_title_dict = dict(zip(ipums_occs['ipums_code'], ipums_occs['ipums_ordered_occ_titles']))
ipums_ordered_occ_title = list(ipums_occs['ipums_ordered_occ_titles'])

In [ ]:
new_df_occ_value_counts = new_df['OCC'].value_counts()
# these occupations don't have any sampled people in them... 
for i in ipums_ordered_occ_codes:
    if i not in new_df_occ_value_counts.keys():
        print (occ_code_title_dict[i]) # so we have data for all IPUMS occupations

In [ ]:
#total employment for occupations in data set - using weights!
ipums_total_employment =np.zeros((len(ipums_ordered_occ_codes)))
for i, occ in enumerate(ipums_ordered_occ_codes):
    occ_data = new_df[new_df['OCC']==occ]    
    ipums_total_employment[i] = occ_data['WTFINL'].sum()

In [ ]:
## calculate total employment, unemployment and employment rate for each occupation for each month based on EMPSTAT
## In the IPUMS-CPS EMPSTAT data, 
# 21 represents unemployed, experienced worker
# 22 represents unemployed, new worker 
# 10 represnts employed, at work
# 12 represents employed, not at work last week

t = 21 # number of months from 1 jan 2019 - sept 2020


month_employment_occ = np.zeros((len(ipums_ordered_occ_codes),t))
month_unemployment_occ = np.zeros((len(ipums_ordered_occ_codes),t))
month_unemployment_rate_occ = np.zeros((len(ipums_ordered_occ_codes),t))


period = 0

for y, year in enumerate(years):
    for m, month in enumerate(months):
        year_month_df = raw[(raw['YEAR']==year)& (raw['MONTH']==month)]

        for i, occ in enumerate(ipums_ordered_occ_codes):
            if occ in year_month_df.OCC.unique():
                year_month_occ_df = year_month_df[year_month_df['OCC2010']==occ]
                # employment in the occupation:  include 10 (employed, at work), 12 (employed, not at work last week)
                occ_df_employed = year_month_occ_df[(year_month_occ_df['EMPSTAT']==10)|(year_month_occ_df['EMPSTAT']==12) ]
                #unemployment in each occupation: include 21 (unemployed, experienced worker) and 22 (unemployed, new worker)
                occ_df_unemployed = year_month_occ_df[(year_month_occ_df['EMPSTAT']==21)|(year_month_occ_df['EMPSTAT']==22) ]

                # calculate employed and unemployed
                occ_number_employed = occ_df_employed['WTFINL'].sum()
                occ_number_unemployed = occ_df_unemployed['WTFINL'].sum()
                occ_unemployment_rate = np.nan_to_num(occ_number_unemployed/(occ_number_employed+occ_number_unemployed)) # note that there was a single nan in the data. converted it to zero for now. 

                # store in monthly matrix
                month_employment_occ[i,period] = occ_number_employed
                month_unemployment_occ[i,period] = occ_number_unemployed
                month_unemployment_rate_occ[i,period] = occ_unemployment_rate

        period +=1

In [ ]:
# figure out transitions (code takes a while...) 
# note this code corrects a small bug from previous code, which missed duplicate sequential job switches 
# i.e if a person switched from occ1 --> occ2 --> occ1 --> occ2 ), it was only capturing occ1--> occ2 and occ2 --> occ1. 
# this code correctly records the three switches
ipums_occ_set = set(ipums_ordered_occ_codes) # create a set of the ipums occupations
transitions = np.zeros((len(ipums_ordered_occ_codes),len(ipums_ordered_occ_codes))) # where we will store the raw number of transitions
#progress check
for ii,i in enumerate(people):
    if ii == round(len(people)*0.5):
        print ('50% done')
    if ii == round(len(people)*0.75):
        print ('70% done')    
    if ii == round(len(people)*0.95):
        print ('95% done')
        
    p_data = new_df[new_df['CPSIDP']==i] # person specific data
    career_path = list(p_data['OCC']) # the occupations that person was in over the sampled periods (ordered chronologically)
    pweight = list(p_data['WTFINL'])
    
        # if that person had a job change in their career path:
    if career_path.count(career_path[0]) != len(career_path):
        # figure out the transitions
        for i, occ in enumerate(career_path):
            if i < len(career_path)-1 and career_path[i] !=career_path[i+1]:
                old_occ = career_path[i]
                new_occ = career_path[i+1]
                if {old_occ,new_occ} <= ipums_occ_set: # if the CPS occupations are in our ipums occupation set (not all of them are... )
                    # put person (weighted by person weight) transitions in transition matrix         
                     transitions[ipums_ordered_occ_codes.index(old_occ),ipums_ordered_occ_codes.index(new_occ)] += pweight[i+1]

In [16]:
df.head()

                                                   0
0  20000000501000265112619981203254500           ...
1  20000000501000265112619981203254500           ...
2  20000000601000318419919981003969400           ...
3  20000000601000318419919981003969400           ...
4  20000000701000349712419981003169300           ...